PORT=4000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
BASE_URL=http://localhost:4000
# Database
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/

# Auth
JWT_SECRET=your_jwt_secret_here

# Redis setup (Local or Remote)
# For local Redis, use:
REDIS_URI=redis://127.0.0.1:6379

# For Upstash standard connection (compatible with REDIS_URI), use the 'rediss://' format.
# You can construct it using your REST credentials from the Upstash dashboard:
# REDIS_URI="rediss://default:<UPSTASH_REDIS_REST_TOKEN>@<UPSTASH_REDIS_REST_URL_WITHOUT_HTTPS>:6379"
#
# Example:
# REDIS_URI="rediss://default:gQAAAA...M3ZWY@better-mouse-67012.upstash.io:6379"
# AI APIs
ASSEMBLYAI_API_KEY=your_assemblyai_key
GEMINI_API_KEY=your_gemini_key
GEMINI_MODEL=gemini-2.5-flash
HUGGINGFACE_API_KEY=your_huggingface_key

# Pinecone
PINECONE_API_KEY=your_pinecone_key
INDEX_NAME=meeton
PINECONE_INDEX=meeton

# Email SMTP Setup
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SENDER_EMAIL=your_email@gmail.com
